@import './base.css';

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

a,
.green {
  transition: 0.1s;
  text-decoration-color: transparent;
  text-underline-offset: 0.05rem;
  color: #5db075;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    text-decoration-color: #5db075;
    text-underline-offset: 0.1rem;
  }
}
